* {
	font-family: "微软雅黑" !important;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration: none;
}
html {
	height: 100%;
}

.navbar {
	z-index: 1;
}

.navbar-theme {
	background-color: transparent;
	border: 0;
}

.nav-fixed {
	background-color: #001033;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0
}

.navbar-theme .navbar-nav>li>a {
	color: #ffffff
}

.navbar-theme .nav>li>a:focus, .navbar-theme .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
	color: #ff0000;
}

.navbar-theme .nav>li.active a {
	color: #ff0000;
}

.navbar-theme .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-theme .navbar-toggle {
	border-color: #ffffff;
}

.header {
	height: 400px;
	position: relative;
}

.description {
	background-image: url("../img/description/about.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.solutions {
	background-image: url("../img/solutions/bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.about {
	background-image: url("../img/about/bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.homeBody {
	background-image: url(../img/home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	height: 100%;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff;
}

.downloadBody {
	background-image: url(../img/download/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	height: 100%;	/*overflow-y: hidden;*/
}

.headerImg {
	max-width: 100%;
	width: 430px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.headerImg img {
	max-width: 100%;
}

.conTitle {
	text-align: center;
	position: relative;
}

.spe {
	position: relative;
	width: 100%;
}

/* .spe:before {
	content: "";
	display:block;
	width: 38%;
	background-image: url(../img/description/spe.png);
	background-repeat: repeat-x;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
}
.spe:after {
	content: "";
	display:block;
	width: 38%;
	background-image: url(../img/description/spe.png);
	background-repeat: repeat-x;
	height: 10px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -5px;
	} */
	.tEng {
		font-family: "arive" !important;
		letter-spacing: 2px;
	}

	.textLine {
		background-color: #ff0000;
		width: 50px;
		height: 3px;
		margin: 10px auto;
		border-radius: 3px;
	}

	.t1 {
		font-size: 26px;
	}

	.t2 {
		font-size: 22px;
	}

	.t3 {
		font-size: 16px;
	}

	.t3-height {
		/*height: 60px;*/
	}

	.card {
		overflow: hidden;
		height: 460px;
		margin-bottom: 30px;
	}

	.inftxt {
		margin-top: 5px;
	}

	.conDiv {
		background-color: #ff0000;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		color: #fff;
		margin: 10px 10px 10px 0;
		font-size: 26px;
	}

	.conTxt {
		line-height: 40px;
		font-size: 18px;
		margin-top: 10px;
		white-space: nowrap;
	}

	.mt {
		margin-top: 10px;
	}

	.mb {
		margin-bottom: 10px;
	}

	.mb5 {
		margin-bottom: 5px;
	}

	.mb20 {
		margin-bottom: 20px;
	}

	.ml {
		margin-left: 10px;
	}

	.ml0 {
		margin-left: 0;
	}

	.mt20 {
		margin-top: 20px;
	}

	.mt50 {
		margin-top: 45px !important;
	}

	.mb30 {
		margin-bottom: 30px;
	}

	.sCard img {
		width: 100%;
	}

	.sCard {
		width: 100%;
		overflow: hidden;
	}

	.scene {
		background-image: url(../img/description/bg.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;		/*padding: 80px 0;*/
	}

	.imgRgt {
		text-align: right;
	}

	.imgLeft {
		text-align: left;
	}

	.advantage {
		position: relative;
	}

	.xs-screen [class ^="col-"] {
		padding: 0;
		margin: 0;
	}

	.homeTxt {
		text-align: center;
		color: #ffffff;
		position: absolute;
		width: 100%;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.infor {
		color: #666;
	}

	.logo1 {
		width: 200px;
	}

	.bigTxt {
		font-size: 72px;
		position: relative;
		letter-spacing: 8px;
		margin-top: 20px;
	}

	.bigTxt:before {
		content: "";
		position: absolute;
		width: 6%;
		height: 2px;
		background-color: #ff0000;
		left: 50%;
		margin-left: -3%;
		border-radius: 2px;
		top: -10px;
	}

	.red {
		color: #ff0000;
	}

	.dash {
		position: relative;
		width: 130px;
		text-align: center;
		margin: 0 auto;
	}

	.dash:before {
		content: "";
		display: block;
		width: 80px;
		height: 1px;
		background-color: #000;
		position: absolute;
		top: 50%;
		left: -80px;
	}

	.dash:after {
		content: "";
		display: block;
		width: 80px;
		height: 1px;
		background-color: #000;
		position: absolute;
		top: 50%;
		right: -80px;
	}

	.center {
		text-align: center;
	}

	.line-through {
		text-decoration: line-through;
	}

	.color999 {
		color: #999999
	}

	img {
		max-width: 100%;
	}

	.coin-ul li {
		list-style-type: none;
		line-height: 24px;
		padding-left: 13px;
		position: relative;
	}

	.coin-ul li:before {
		content: "●";
		color: #ff0000;
		position: absolute;
		left: 0;
		font-size: xx-small;
	}

	.con02-sol {
		height: 200px;
	}

	.nogutter, .nogutter [class ^="col-"] {
		padding: 0;
	}

	.noMargin {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-top: 0;
	}

	.border-card {
		border: 1px solid #dddddd;
		padding: 10px;
		height: 220px;
		margin-bottom: 20px;
	}

	.about01 {
		background-image: url("../img/about/about01-bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		padding-bottom: 50px;
	}

	.about02 {
		background-image: url("../img/about/about02-bg.png");
		margin-top: 100px;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		padding-bottom: 50px;
	}

	.about04 {
		background-image: url("../img/about/about04-bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
	}

	.buble {
		padding: 15px 15%;
		border: 1px solid #ddd;
		position: relative;
		background-color: rgba(255, 255, 255, 0);
	}

	.radio {
		position: relative;
	}

	.radio-border {
		position: relative;
		width: 30px;
		height: 30px;
		background-color: #fff;
		border: 2px solid #666;
		border-radius: 15px;
	}

	.radio-coin {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -7px;
		margin-left: -7px;
		width: 14px;
		height: 14px;
		background-color: #666666;
		border-radius: 10px;
	}

	 .radio-border:before {
		content: "";
		display: block;
		width: 2px;
		height: 50px;
		background-color: #666666;
		position: absolute;
		bottom: 28px;
		left: 50%;
		margin-left: -1px;
	} 

	.radio-border:after {
		content: "";
		display: block;
		width: 2px;
		height:90px;
		background-color: #666666;
		position: absolute;
		top: 28px;
		left: 50%;
		margin-left: -1px;
	}

	.angle-right {
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-left: 20px solid #ddd;
		border-bottom: 15px solid transparent;
		position: absolute;
		right: -20px;
		top: 50%;
		margin-top: -10px;
	}

	.angle-small-right {
		content: "";
		position: absolute;
		right: -19px;
		border-top: 14px solid transparent;
		border-left: 19px solid #fff;
		border-bottom: 14px solid transparent;
		top: 50%;
		margin-top: -9px;
	}

	.angle-left {
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-right: 20px solid #ddd;
		border-bottom: 15px solid transparent;
		position: absolute;
		left: -20px;
		top: 50%;
		margin-top: -10px;
	}

	.angle-small-left {
		content: "";
		position: absolute;
		left: -19px;
		border-top: 14px solid transparent;
		border-right: 19px solid #fff;
		border-bottom: 14px solid transparent;
		top: 50%;
		margin-top: -9px;
	}

	.angle-bottom {
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-top: 20px solid #ddd;
		border-right: 15px solid transparent;
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -10px;
		display: none;
	}

	.angle-small-bottom {
		content: "";
		position: absolute;
		bottom: -19px;
		border-left: 15px solid transparent;
		border-top: 20px solid #fff;
		border-right: 15px solid transparent;
		left: 50%;
		margin-left: -10px;
		display: none;
	}

	.m-radio-right {
		position: absolute;
		right: -15px;
		top: 50%;
		margin-top: -10px;
	}

	.m-radio-left {
		position: absolute;
		left: -15px;
		top: 50%;
		margin-top: -10px;
	}

	.buble-left {
		margin-right: 20px;
		float: right;
	}

	.buble-right {
		margin-left: 20px;
	}

	.hide-before:before {
		display: none;
	}

	.last-radio:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 116px;
		margin-left: -5px;
		width: 10px;
		height: 10px;
		background-color: #666666;
		border-radius: 10px;
	}

	.company-list {
		list-style-type: none;
		overflow: hidden;
	}

	.company-list li {
		width: 100%;
		float: left;
		line-height: 30px;
	}

	.bold {
		font-weight: bold;
	}

	.border-lf {
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}

	.footer {
		margin: 100px auto;
	}

	.fixed {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	.height100 {
		height: 100%;
	}

	.fix-img {
		bottom: 0;		/*position: absolute;*/
		width: 70%;
	}

	.d-left {
		color: #fff;
		width: 100%;
		margin-bottom: 20px;
		overflow: hidden;
		position: relative;
		padding-top: 20px;
	}
	.d-left:before {
		content: "";
		position: absolute;
		display: block;
		height: 1px;
		width: 80px;
		background-color: #eb0e0e;
		left: 15px;
		top: 0;
	}
	.col-ecode {
		margin-bottom: 20px;
	}

	.btn-transparent {
		display: block;
		width: 100%;
		color: #fff;
		border-radius: 0;
		text-align: center;
	}

	.iphone, .android {
		position: relative;
		padding-left: 25px;
	}

	.iphone {
		border: 1px solid #eb0e0e;
	}

	.android {
		border: 1px solid #97c03d;
		margin-top: 10px;
	}

	.iphone:before {
		content: "";
		width: 30px;
		height: 30px;
		background-image: url(../img/download/ios.png);
		background-size: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -15px;
		background-repeat: no-repeat;
	}

	.android:before {
		content: "";
		width: 30px;
		height: 30px;
		background-image: url(../img/download/android.png);
		background-size: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -15px;
	}

	.btn-red {
		background-color: #eb0e0e;
		color: #fff;
		border-color: transparent;
		background: -webkit-linear-gradient(90deg, #fc354d, #eb0e0e);
		background: -o-linear-gradient(90deg, #fc354d, #eb0e0e);
		background: -moz-linear-gradient(90deg, #fc354d, #eb0e0e);
		background: linear-gradient(90deg, #fc354d, #eb0e0e);
	}

	.btn-radius {
		border-radius: 30px;
		width: 120px;
		padding: 10px 0;
	}

	.text-decoration {
		position: relative;
	}

	.text-decoration:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -4px;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #ff0000;
	}

	.w-login {
		float: right;
	}

	.in-show {
		float: left;
	}

	.btn-div {
		overflow: hidden;
	}

	.img-p50 img {
		width: 50%
	}

	.color-white {
		color: #fff;
	}

	.car-item {
		margin-top: 50px;
	}

	.ctt-s1 {
		background-image: url(../img/solutions/01.png);
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 70px;
	}

	.ctt-s2 {
		background-image: url(../img/solutions/02.png);
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 70px;
	}

	.con02 {
		background-image: url(../img/solutions/02bg.png);
		background-repeat: no-repeat;
		background-position: center bottom;
	}

	.ctt-s3 {
		background-image: url(../img/solutions/03.png);
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 70px;
	}

	.ecodeImg img {
		max-width: 300px;
	}

	.w-icon {
		width: 36px;
	}

	.phone-div {
		position: relative;
	}

	.cop-div {
		margin: 0 10px;
		border: 1px solid #ddd;
		margin-bottom: 20px;
	}

	.swiper-pagination-bullet {
		border: 1px solid #fff;
	}

	.lh-30 {
		line-height: 26px
	}

	.t2.mb5 {
		text-align: center;
		margin: 10px 0;
	}

	.d-left div {
		padding: 0 15px;
	}
	.sol-wrap {
		border: 1px solid #ddd;
		padding: 15px;
		position: relative;
		margin-bottom: 30px;
	}
	.icon {
		height: 36px;
		width: 36px;
		position: absolute;
		border: 1px solid #ff0000;
		text-align: center;
		border-radius: 18px;
		color: #f00;
		left: 50%;
		margin-left: -20px;
		top: -20px;
		background-color: #fff;
	}
	.sw-txt {
		margin-top: 10px;
	}
	.sol-bottom {
		margin: 0 auto;
		text-align: center;
		padding: 30px 0;
	}
	@media screen and (max-width:767px) {
		.bigTxt {
			font-size: 30px;
		}

		.about01, .about02, .about04 {
			background-position: left center;
		}

		.navbar-collapse {
			background-color: #001033;
		}

		.spe:before, .spe:after {
			width: 19%;
		}

		.card {
			height: auto;
		}

		.xs-screen {
			position: absolute;
			background-color: rgba(0, 0, 0, 0.39);
			z-index: 1;
			height: 100%;
			padding-top: 10%;
			padding-bottom: 10%;
		}

		.xs-left {
			left: 0;
			top: 0;
			padding-left: 0;
		}

		.xs-right {
			right: 0;
			top: 0;
			padding-right: 0;
		}

		.xs-left .car-text, .xs-right .car-text {
			color: #ffffff;
			font-size: 12px
		}

		.car-item-wrap {
			height: 25%;
			width: 100%;
			position: relative;
		}

		.car-item {
			position: absolute;
			bottom: 20px;
			margin-top: 0;
		}

		.xs-left .car-item {
			right: 0;
		}

		.logo {
			width: 200px
		}

		.radio-border {
			display: none;
		}

		.company-list li {
			width: 100%;
			float: left;
			text-align: center;
		}

		.w-login, .in-show {
			float: none;
			clear: none;
		}

		.in-show {
			margin-top: 20px
		}

		.header {
			height: 300px;
			position: relative;
		}

		.t3-height {
			height: auto;
		}

		.dl-phone {
			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		.dl-phone img {
			height: 100%;
		}

		.ecodeImg {
			width: 70%;
			margin-left: 15%;
		}

		.angle-left, .angle-small-left, .angle-right, .angle-small-right {
			display: none;
		}

		.buble-left {
			margin-right: 0;
		}

		.buble-right {
			margin-left: 0;
		}

		.buble {
			width: 100%;
		}

		.angle-bottom, .angle-small-bottom {
			display: block;
		}

		.border-lf {
			border: none;
		}

		.buble {
			margin-bottom: 10px;
		}

		.homeTxt {
			width: 90%;
			padding: 5% 0;
		}

		.t1 {
			font-size: 25px;
		}
		.t3-height {
		    text-align: center;
	}
		@media screen and (orientation:landscape) {

			/*横屏 css*/
			.phone-div {
				height: auto !important;
			}

			.dl-phone {
				height: 100%;
				width: 80%;
				overflow: hidden;
				margin: 0 auto;
			}

		}

	}

	@media screen and (min-width:415px) and (max-width:767px){
		.col-ecode {
			width: 350px;
			margin: 0 auto;
			position: relative;
			left: 50%;
			margin-left: -175px;
			margin-bottom: 20px;
		}
	}
	@media screen and (orientation:portrait) {

		/*竖屏 css*/
	}

	@media screen and (min-width:768px) {
		.mt50 {
			margin-top: 30px;
		}

		.company-list li {
			width: 50%;
			float: left;
		}

		.dl-phone {
			position: absolute;
			bottom: 0;
		/* width: 80%;
		left: 10%; */
	}

	.phone-div {
		height: 100%;
	}

	.dnld-height {
		overflow: hidden;
	}

	.downloadBody {
		overflow-y: hidden;
	}

}

@media screen and (min-width:992px) {
	.company-list li {
		width: 33.33%;
		float: left;
	}

}

@media screen and (min-width:992px) {
	.company-list li {
		width: 33.33%;
		float: left;
	}

	.navbar-center {
		width: 430px;
		margin: 0 auto;
		float: none;
	}

}

@media screen and (min-width:1200px) {
	.dldContainer {
		width: 60%;
		max-width: 1170px;
	}
	.iphone:before,.android:before {
		content: "";
		width: 50px;
		height: 50px;
		margin-top: -25px;
	}	
	.iphone, .android {
		font-size:22px;
		padding-left: 50px
	}
}
@media screen and (min-width:1440px) {
	.iphone:before,.android:before {
		content: "";
		width: 2.6em;
		height: 2.6em;    
		margin-top: -1.3em;	   
	}	
	.iphone, .android {
		font-size: 2em;
		padding-left: 2.6em;
	}
}